        <div class="conteudoPart">
            <div class="caixa ">
                <div class="textos">
                    <h3>{{prim-title}}</h3>
                    <p>{{prim-subtitle}}</p>
                    <div class="paragrafos">
                        
                        <p>{{prim-para-one}}</p>
                        <p>{{prim-para-two}}</p>
                        <p>{{prim-para-three}}</p>
                        <p>{{prim-para-four}}</p>
                        <p>{{prim-para-five}}</p>
                        <p>{{prim-para-six}}</p>
                        <p>{{prim-para-seven}}</p>
                        <p>{{prim-para-eight}}</p>
                    </div>
                    
                </div>
            </div>
            <div class="caixa">
                <div class="textos">
                    <h3>{{sec-title}}</h3>
                    <p>{{sec-subtitle}}</p>
                    <div class="paragrafos">
                        
                        <p>{{sec-para-one}}</p>
                        <p>{{sec-para-two}}</p>
                        <p>{{sec-para-three}}</p>
                        <p>{{sec-para-four}}</p>
                        <p>{{sec-para-five}}</p>
                        <p>{{sec-para-six}}</p>
                        <p>{{sec-para-seven}}</p>
                        <p>{{sec-para-eight}}</p>
                    </div>
                    
                </div>
            </div>
            <div class="caixa">
                <div class="textos">
                    <h3>{{terc-title}}</h3>
                    <p>{{terc-subtitle}}</p>
                    <div class="paragrafos">
                        
                        <p>{{terc-para-one}}</p>
                        <p>{{terc-para-two}}</p>
                        <p>{{terc-para-three}}</p>
                        <p>{{terc-para-four}}</p>
                        <p>{{terc-para-five}}</p>
                        <p>{{terc-para-six}}</p>
                        <p>{{terc-para-seven}}</p>
                        <p>{{terc-para-eight}}</p>
                    </div>
                    
                </div>
            </div>
            <div class="caixa active">
                <div class="textos">
                    <h3>{{four-title}}</h3>
                    <h4>{{four-subtitle}}</h4>
                    <div class="paragrafos">
                        
                        <p>{{four-para-one}}</p>
                        <p>{{four-para-two}}</p>
                        <p>{{four-para-three}}</p>
                        <p>{{four-para-four}}</p>
                        <p>{{four-para-five}}</p>
                        <p>{{four-para-six}}</p>
                        <p>{{four-para-seven}}</p>
                        <p>{{four-para-eight}}</p>
                    </div>
                    
                </div>
            </div>
        </div>